.film-list {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    grid-auto-rows: 320px;
    grid-auto-columns: 360px;
}

@media screen and (max-width: 950px) {
    .film-list {
        grid-template-columns: repeat(2, 342px);
    }
}