.film-card {

    background: #222222;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    display: grid;
    grid-template-rows: max-content;
    grid-template-areas: 
    "title time"
    "image image"
    "btn btn";
}

.film-card__title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    grid-area: title;
    margin: 18px 0 18px 18px ;
}

.film-card__time {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #8B8B8B;
    grid-area: time;
    margin: 18px 18px 18px 0;
}

.film-card__preview {
    grid-area: image;
    justify-self: center;
    max-height: 200px;
    max-width: 100%;
}

.film-card__save-btn {
    grid-area: btn;
    appearance: none;
    justify-self: center;
    background: #313131;
    border-radius: 30px;
    width: 100px;
    height: 29px;
    position: relative;
}

.film-card__save-btn:hover {
    opacity: 0.7;
    transition: .3s;
    cursor: pointer;
}

.film-card__save-btn::after {
    position: absolute;
    content: "Сохранить";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    color: #FFFFFF;
    margin: 9px 15px; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.film-card__save-btn:checked {
    background: #EE3465;
}

.film-card__save-btn:checked:after {
    content: url('../../images/checkmark.svg');
}
