.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 410px;
    margin-left: auto;
    margin-right: auto;
}

.profile__title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.profile__info {
    align-self: stretch;
}