.form {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 40px;
    justify-self: center;
    justify-content: space-between;
    width: 396px;
}

.form__submit-button {
    padding: 0;
    border: none;
    background: #4285F4;
    border-radius: 3px;
    padding-top: 13px;
    padding-bottom: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.form__submit-button:hover {
    opacity: 0.8;
    transition: 0.4s;
    cursor: pointer;
}

.form__question {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
    margin: 0;
    margin-top: 16px;
}

.reg__link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4285F4;
    margin: 0;
    text-decoration: none;
    cursor: default;
}

.reg__link:hover {
    opacity: 0.8;
    transition: 0.4s;
    cursor: pointer;
}

.form-input-error {
    margin: 5px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}

.form-input-error:last-of-type {
    margin-bottom: 0;
}
.form-input {
    margin-top: 5px;
    border: none;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    border-bottom: 1px solid #424242;
    background-color: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.form-input-name {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
}

.form__links {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
}