.about-project {
    background-color: #202020;  
    padding-left: 70px;
    padding-right: 70px;
}

.about-project__title {
    margin: 0;
    padding-top: 110px;
    padding-bottom: 23px;
    border-bottom: 1px solid #DADADA;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #fff;
}

.about-project__description {
    margin-top: 70px;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, max-content); */
    row-gap: 26px;
    grid-template-areas: 
    "title1 title2"
    "text1 text2";
}

.description__title {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #fff;
}

.description__title:first-of-type {
    grid-area: title1;
}

.description__title:last-of-type {
    grid-area: title2;
}

.description__text {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

.description__text:first-of-type {
    grid-area: text1;
}

.description__text:last-of-type {
    grid-area: text2;
}

.timeline {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, max-content);
    padding: 110px 0;
    row-gap: 14px;
    
}

.timeline__text {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #3DDC84;
}

.timeline__text:nth-of-type(2) {
    color: #fff;
    background-color: #303030;
}

.timeline__description {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
}

@media screen and (max-width: 950px) {
    .about-project {
        padding-left: 50px;
        padding-right: 50px;
    }

    .about-project__title {
        padding-top: 90px;
    }

    .about-project__description {
        gap: 22px 30px;
    }
}

@media screen and (max-width: 767px) {
    .about-project {
        padding-left: 18px;
        padding-right: 18px;
    }

    .about-project__title {
        padding-top: 70px;
        padding-bottom: 28px;
        font-size: 18px;
        line-height: 22px;
    }

    .about-project__description {
        grid-template-areas:
        "title1"
        "text1"
        "title2"
        "text2" ;

        margin-top: 60px;
    }

    .description__text {
        font-size: 11px;
        line-height: 16px;
    }

    .description__title {
        font-size: 18px;
        line-height: 22px;
    }

    .timeline {
        padding-top: 60px;
        padding-bottom: 70px;
    }

    .timeline__text {
        font-size: 11px;
        line-height: 13px;
    }

    .timeline__description {
        font-size: 11px;
        line-height: 13px;
    }
}