.footer {
    background-color: #202020;
    align-self: end;
    padding-left: 70px;
    padding-right: 70px;
}

.footer__descrition {
    text-align: center;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #8B8B8B;
    border-bottom: 1px solid #424242;
    padding-bottom: 20px;
}

.footer__texts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

.footer__year {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer__link {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
}

.footer__link:hover {
    opacity: 0.6;
    transition: 0.4s;
    cursor: pointer;
}

.footer__link:last-of-type {
    margin: 0;
}

@media screen and (max-width: 950px) {
    .footer {
        padding-left: 30px;
        padding-right: 30px;
    }
}