.about-me {
    padding-left: 70px;
    padding-right: 70px;
    max-width: 100%;
    background-color: #202020;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template-areas: 
    "title title"
    "description photo"
    "links photo"
    "portfolio portfolio";
}

.about-me__title {
    grid-area: title;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #fff;
    padding-bottom: 23px;
    border-bottom: 1px solid #DADADA;
    padding-top: 110px;
}

.about-me-description {
    grid-area: description;
    margin-top: 66px;
}

.about-me-description__title {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.about-me-description__profession {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin-top: 18px;
}

.about-me-description__text {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin-top: 26px;
    margin-right: 270px;
    justify-self: start;
}

.about-me__photo {
    grid-area: photo;
    max-width: 270px;
    max-height: 327px;
    border-radius: 10px;
    margin-top: 66px;
    justify-self: end;
}

.about-me__links {
    grid-area: links;
    text-align: start;
    align-self: end;
}

.about-me__link {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-right: 20px;
    text-decoration: none;
}

.about-me__link:last-of-type {
    margin: 0;
}

.portfolio {
    width: inherit;
    grid-area: portfolio;
    margin: 100px 0 125px;
    display: flex;
    flex-direction: column;
}

.portfolio__title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #8B8B8B;
    mix-blend-mode: normal;
}

.portfolio__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    text-decoration: none;
    padding-bottom: 19px;
    border-bottom: 1px solid #424242;
}

.portfolio__link:last-of-type {
    border: none;
}

@media screen and (max-width: 950px) {
    .about-me {
        padding-left: 50px;
        padding-right: 50px;
    }

    .about-me-description__title {
        font-size: 40px;
        line-height: 40px;
    }

    .about-me-description__profession {
        font-size: 12px;
        line-height: 18px;
    }

    .about-me-description__text {
        font-size: 12px;
        line-height: 18px;
        margin-top: 20px;
        margin-right: 49px;
    }

    .portfolio__link {
        font-size: 28px;
        line-height: 50px;
    }
}