.nav-tab {
    display: flex;
    background-color: #272727;
    justify-content: center;
    align-items: center;
}

.navigate {
    margin-top: 24px;
    margin-bottom: 24px;
}

.navigate__link {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-right: 40px;
}

.navigate__link:last-of-type {
    margin: 0;
}

@media screen and (max-width: 767px) {
    .navigate__link {
        font-size: 11px;
        line-height: 16px;
    }

    .navigate__link {
        margin-right: 24px;
        font-size: 11px;
    }
}

